@model HotelMVC.Models.Contactus

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <hr />
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contactaddress)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contactaddress)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contactemail)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contactemail)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Contactphone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Contactphone)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
